.section1 {
  flex: 0;
  min-width: 330px;
  font-size: 16px;
  border-right: 1px solid #eeeeef;
  text-align: left;
}
.section2 {
  flex: 1;
}
main, .menu-header {
  display: flex;
  justify-content: stretch;
}


/* HEADER STUFF */
.menu-header {
  height: 45px;
  width: 100%;
  position: relative;
  top: 0;
  align-items: stretch;
}
.menu-header::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #eeeeef;
  position: absolute;
  bottom: 0;
  left: 0;
}
button {
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 16px;
  font-family: 'Proxima Nova W01','Avenir Next W01','Avenir Next',sans-serif;
  color: #8e939a;
}
button:hover {
  color: black;
}

/* ACTIVE/NOT ACTIVE SIDE BAR */
.side-bar-tab {
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  height: calc(100% - 1px);
  flex-grow: 1;
  color: #8e939a;
  border: none;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
/* below makes after blue under tab that is active */
/* .side-bar-tab.side-bar-tab__active::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #6799ff;
  position: absolute;
  bottom: 0;
  left: 0;
} */
